<div class="main-header">
  <h1>Create Note:</h1>
</div>
<div class="message">
  <% if @failure_message %>
    <h1 class="error"><%= @failure_message %></h1>
  <% end %>
</div>
<div class="align-left" >
  <form method="POST" action="/notes/new">
    <p><label for="content">Content:</label></p>
    <p><textarea name="content" id="content"></textarea></p>
    <input type="hidden" name="task_id" value="<%= @task_id %>" readonly />
    <input type="submit" value="Create Note" />
  </form>
  <form method="GET" action="/tasks/<%= @task_id %>">
    <input type="submit" value="Back to Task" />
  </form>
</div>
