<div class="main-heading">
  <h1>Create a new task:</h1>
</div>
<div class="message">
  <% if @failure_message %>
    <h3 class="error"><%= @failure_message %></h3>
  <% end %>
</div>
<div class="align-left">
  <form method="POST" action="/tasks/new">
    <p>
      <label for="short_description">Short Description:</label>
      <input type="text" name="short_description" id="short_description" />
    </p>
    <p>
      <label for="long_description">Long Description:</label>
      <textarea name="long_description" id="long_description"></textarea>
    </p>
    <p>
      <label for="due_date">Due Date:</label>
      <input type="date" name="due_date" id="due_date" />
    </p>
    <p>
      <label for="assign_to">Assign to:</label>
      <select name="assign_to" id="assign_to">
        <% users.sort_by { |a| a.name }.each do |potential_assignee| %>
          <% if current_user.can_assign_to?(potential_assignee) %>
            <option name="<%= potential_assignee.id %>"><%= potential_assignee.name %></option>
          <% end %>
        <% end %>
      </select>
    </p>
    <input type="submit" value="Create Task" />
  </form>
  <form method="GET" action="/tasks/users/<%= current_user.slug %>">
    <input type="submit" value="Back to Task List">
  </form>
</div>
