* {
  box-sizing: border-box;
  font-family: sans-serif;
}

a {
  color: black;
  text-decoration: none;
}

.header {
  grid-area: header;
  background-color: #f1f1f1;
  padding: 30px;
  text-align: left;
  font-size: 35px;
}

.message {
  text-align: center;
}

.grid-container {
  display: grid;
  grid-template-areas:
    'header header header header'
    'message message message message'
    'left left right right'
    'footer footer footer footer';
  grid-column-gap: 10px;
}

.left, .middle, .right {
  padding: 10px;
}

.left {
  grid-area: left;
  background-color: #eee;
}

.middle {
  grid-area: middle;
  background-color: white;
}

.right {
  grid-area: right;
  background-color: #eee;
}

.footer {
  grid-area: footer;
  background-color: #f1f1f1;
  padding: 10px;
  text-align: center;
}

.error {
  color: red;
}
