<% if @invalid_entry_message %>
  <h1 class="error"><%= @invalid_entry_message %></h1>
<% end %>
<h2>Please enter the following information for the new user:</h2>
<form method="POST" action="/users/new">
  <p>
    <label for="name">Full Name:</label>
    <input type="text" name="user[name]" id="name" />
  </p>
  <p>
    <label for="username">Requested User Name:</label>
    <input type="text" name="user[username]" id="username" />
  </p>
  <p>
    <label for="email">Email:</label>
    <input type="email" name="user[email]" id="email" />
  </p>
  <p>
    <label for="supervisor_name">Supervisor's Name:</label>
    <select name="user[supervisor_id]" id="supervisor_id">
      <% @users.each do |potential_assignee| %>
        <option value="<%= potential_assignee.name %>"><%= potential_assignee.name %></option>
      <% end %>
    </select>
  </p>
  <p>
    <label for="password">Password:</label>
    <input type="password" name="user[password]" id="password" />
  </p>
  <input type="submit" value="Create User">
</form>
