<div class="main-heading">
  <h1>Welcome to my currently unnamed Task App.</h1>
</div>
<div class="message">
  <h3>You must be logged in to use the app.</h3>
</div>
<div class="middle">
  <form method="GET" action='/login'>
    <input name="signin_button" id="signin_button" type="submit" value="Sign In" />
    </form>
    <form method="GET" action='/users/new'>
      <input name="create_account_button" id="create_account_button" type="submit"
        value="Create Account" />
  </form>
</div>
