<!doctype html>
<html>
  <head>
    <link rel="stylesheet" type="text/css" href="/style.css" />
    <title>Task App</title>

  </head>
  <body>

    <div class="container">
      <%= yield %>
      <% if logged_in? %>
        <form class="align-left" method="GET" action="/logout">
          <input type="submit" value="Log Out">
        </form>
        <% if current_user.is_administrator? %>
          <form class="align-left" method="GET" action="/users/index">
            <input type="submit" value="Users Index">
          </form>
        <% end %>
      <% end %>
    </div>

  </body>
</html>
