<% if @login_error %><h1>Login failed.  Please try again.<h1><% end %>
<form method="POST" action="/login">
  <h1>Please enter your credentials:</h1>
  <p>
    <label for="username">User Name:</label>
    <input type="text" name="username" id="username">
  </p>
  <p>
    <label for="password">Password:</label>
    <input type="password" name="password" id="password">
  </p>
  <input type="submit" value="Log In" />
</form>
